<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        body{
            color: green;
            background-color: black;
            align-content: center;
            padding: 150px;
            padding-top: 200px;
            padding-left: 600px;
        }
        a{
            text-decoration: none;
            color: red;
            
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>User Login</h1>
    <form action="http://localhost:8000/OTS/login-validation/ " method="post">
    {%csrf_token%}
        <table>
        <tr>
            <td>Username</td>
            <td><input type="text" name="username"></td>
            
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password"></td>
            
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Login"></td>
            
        </tr>
    </table>
</form>
<a href="http://localhost:8000/OTS/signup">Signup</a>
</body>
</html>