<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Questions</title>
    <style>
        body{
            color: green;
            background-color: black;
                        
        }
    </style>
</head>
<body>
    <div class="menu">
        <!--Menu for Admin-->
        {% if request.session.role == "ADMIN"%}
        <a href="http://localhost:8000/OTS/new-question/">New Question</a>
        <a href="http://localhost:8000/OTS/view-questions/">View Questions</a>
        {% endif %}
        <!--Menu for learner-->
        {% if request.session.role == "LEARNER" %}
        <a href="http://localhost:8000/OTS/logout/">Logout</a>
        <a href="http://localhost:8000/OTS/start-test">Start Test</a>
        {%endif%}
    </div>
    <h1>View Questions</h1>
    <table>
    <tr>
        <th>Qno</th>
        <th>Question</th>
        <th>option a</th>
        <th>option b</th>
        <th>option c</th>
        <th>option d</th>
        <th>answer</th>
    </tr>
    {% for question in questions %}
    <tr>
        <td>{{question.qno}}</td>
        <td>{{question.que}}</td>
        <td>{{question.optiona}}</td>
        <td>{{question.optionb}}</td>
        <td>{{question.optionc}}</td>
        <td>{{question.optiond}}</td>
        <td>{{question.answer}}</td>
        <td><a href="http://localhost:8000/OTS/edit-question?qno={{question.qno}}">Edit</a></td>
        <td><a href="http://localhost:8000/OTS/delete-question?qno={{question.qno}}">Delete</a></td>
    </tr>

    {% endfor %}
    </table>
    
</body>
</html>